.foodCategory {
  text-align: center;

}

.addOns {
   display:flex;
   justify-content: space-around;
   margin-left: 62px;
   ;
}

img {
  width: 475px;
  height: 200px;
}

.button-addons {
  margin-left: 400px;
}



  /* border: none;
 outline: none;
 padding: 10px 16px;
 cursor: pointer; */
