.navbar {
  height: 60px;
  font-size: 25px;

}


li {
  float: left;
  display: lock;
  color: white;
  text-align: center;
  padding: 16px;
}

.nav-link {
  text-decoration: none;
  margin-left: 30px;
}

.nav-login {
  font-size: 12px;
  color: grey;
  margin-left: 640px;
}
