.navbar {
  height: 60px;
  font-size: 25px;
  blackgound-color: blue;
  text-decoration-color: white;
   width: 100%;
}



li {
  float: left;
  display: lock;
  color: white;
  text-align: center;
  padding: 16px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  /* font-family:serif; */
  color: white;
}


.nav-login {
  font-size: 12px;
  color: grey;
  margin-left: 400px;
}

.main-navigation .menu li a {
    color: white;
}
