.foodCategory {
  text-align: center;
  font-family:Impact;
  font-weight: 300;
  margin-top:20px;
  font-size: xxx-large;
}



h5 {
  font-size: 20px;
}

Form {
  margin-right: 60px;
  margin-left: -49px;
}

.solid {
  margin-left: -57px;
  margin-right: 34px;
}
