.foodCategory {
  text-align: center;
  font-family:serif;
  font-weight: bolder;
  margin-top:20px;
  font-size: xxx-large;
}



h5 {
  font-size: 20px;
}

Form {
  margin-right: 60px;
  margin-left: -49px;
}

.solid {
margin-right: -8px;
margin-left: 10px;
}
.col-12.orders {
  margin-left: -11px;
}

.subtotal {
  margin-left: 153px;
}
